@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.resumeButton {
  display: inline-block;
  padding: 12px 20px;
  background-color: #7d78e0;
  color: white;
  text-decoration: none;
  min-width: 185px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
}

.resumeButton:hover {
  background-color: #1d4ed8;
}
.emailButton {
  display: inline-block;
  padding: 12px 20px;
  background-color: #4e4b78;
  color: white;
  text-decoration: none;
  min-width: 180px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
}

.emailButton:hover {
  background-color: #1d4ed8;
}

.circleShell {
  position:relative;
  justify-content: center;
  justify-self: center;
  width: 550px;
  height: 550px;
  margin-top: 50px;

  padding: 3.25rem 3.25rem 1.75rem;
  /* background:
    linear-gradient(rgba(55, 155, 155, 0.055) 1px, transparent 1px),
    linear-gradient(90deg, rgba(55, 55, 55, 0.055) 1px, transparent 1px),
    #000; */
  border: 2px solid rgba(55, 55, 55, 0.055);
  border-radius: 50%;
  
}
